<!DOCTYPE HTML>
<html>
  <head>
    <title>404 - Whoops!</title>
    <style>
      body {
        background: #000;
        color: #fff;
        font-family: "Century Gothic";
        font-weight: "bold";
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Masshelper - Your new secret to success</h1>
    <h2>Uhh... captain? I don't mean to ruin all the fun, but this ain't the place you're looking for!</h2>
    <span>Error Code: 404 - Not Found</span>
  </body>
</html>
