<!DOCTYPE HTML>
<html>
  <head>
    <title>429 - Ratelimited!</title>
    <style>
      body {
        background: #000;
        color: #fff;
        font-family: "Century Gothic";
        font-weight: "bold";
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>You are being ratelimited!</h1>
    <h2>Uhh... captain? I don't mean to ruin all the fun, but you're sending too many requests per minute!</h2>
    <span>Error Code: 429 - Ratelimited</span>
  </body>
</html>
