body {
      min-height: 100vmin;
      color: #fff;
      text-align: center;
      font-family: Helvetica, Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #000;
}
h1 {
  margin: 0;
  padding: 0;
  -webkit-padding-before: 0.67em;
}
h2 {
  margin: 0;
  padding: 0;
  -webkit-padding-before: 0.83em;
  -webkit-padding-after: 0.83em;
}
h4 {
  margin: 0;
}
p {
  padding: 0, 5%, 0, 5%;
  max-width: 70%;
  margin: 0 auto;
  font-weight: bold;
}
h3 {
  margin-top: 0;
}
.comment {
  color: #fff;
  display: block;
}
.comment .hl {
  color: #ccc;
}
a {
  color: #ccc;
  text-decoration: none;
}
