<!DOCTYPE HTML>
<html>
  <head>
    <title>Masshelper - Choose a Game</title>
    <link rel="stylesheet" type="text/css" href="/global.css" charset="utf-8">
    <style>
      ul {
        list-style-type: none;
        margin:0;
        padding:0;
      }
      a {
        text-decoration: none;
        color: #0ff;
      }
    </style>
  </head>
  <body>
    <h1>Masshelper - Your new secret to success</h1>
    <h2>Pick a Game</h2>
    <ul>
      <li><a href="./growtopia">Growtopia</a></li>
      <li><a href="./pixelworlds">Pixel Worlds</a></li>
    </ul>
    <br>
    <h2 style="color: red;">DEPRECATION WARNING: Masshelper will be officialy shut down May 8th, 2018.</h2>
    <h3>If you still depend on masshelper, don't worry, I've released the source code of it to <a href="https://github.com/cernodile/Masshelper">GitHub</a></h3>
  </body>
</html>
